.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
./backend/educare/pom.xml
config.addAllowedOrigin("http://localhost:8081");
*.log
