<DOCTYPE html>
  <html>
  <head>
    <title>비디오 스트리밍</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico"/>
    <meta charset='utf-8' />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  </head>
  <body>
    <!-- 헤더 네비게이션 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <p class="title is-5">EDUCARE</p>
          <!-- <img src="../assets/flasklogo.png" width="112" height="28"> -->
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <!-- <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>
    
          <a class="navbar-item">
            Documentation
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div> -->
    
        <!-- <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div> -->
      </div>
    </nav>

    <div id="app" class="container pt-3 mt-3">
      <h1 class="title pt-3">시험보기</h1>
      <!-- Buefy components goes here -->
      <p class="has-text-right">남은시간 00:00:00</p>
      {% for element in recordtime%}
        <p>{{element}}</p>
      {% endfor %}
      <div class="tile is-ancestor">
      <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title is-5">시험 녹화</p>
        </br>
          <p>시험이 시작될때 녹화시작 먼저 클릭한 후 시험을 완료 후 시험완료를 클릭하면 감독관에게 전송됩니다. </p>
      </br>
          <div id="recorder">
            <b-button id="record">녹화시작</b-button>
            <b-button id="stop">시험완료</b-button>
            <a id="download"></a>
            <script type="application/javascript" src="{{ url_for('static', filename='recorder.js') }}"></script>      
          </br>
            <b-field label="녹화영상">
              <input
                v-model="form.file"
                type="file"
                id="file"
                ref="file"
              />
            </b-field>
          </div>
        </br>
          <img id="video" src="{{ url_for('video_viewer') }}">
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title is-5">시험 문제</p>
          <br>
          <br>
          {{ data_list[0] }} 
          <br>
          <br>

          <b-field>
            <b-radio v-model="form.radio1"
                native-value="①">
                {{ data_list[1][0] }}
            </b-radio>
        </b-field>
        <b-field>
            <b-radio v-model="form.radio1"
                native-value="②"
                type="is-info">
                {{ data_list[1][1] }}
            </b-radio>
        </b-field>
        <b-field>
            <b-radio v-model="form.radio1"
                native-value="③"
                type="is-success">
                {{ data_list[1][2] }}
            </b-radio>
        </b-field>
        <b-field>
            <b-radio v-model="form.radio1"
                native-value="④"
                type="is-warning">
                {{ data_list[1][3] }}
            </b-radio>
        </b-field>
        
        <br>
        <br>
          {{ data_list[2] }}
        <br>
        <br>
        
        <b-field>
          <b-radio v-model="form.radio2"
              native-value="①">
              {{ data_list[3][0] }}
          </b-radio>
      </b-field>
      <b-field>
          <b-radio v-model="form.radio2"
              native-value="②"
              type="is-info">
              {{ data_list[3][1] }}
          </b-radio>
      </b-field>
      <b-field>
          <b-radio v-model="form.radio2"
              native-value="③"
              type="is-success">
              {{ data_list[3][2] }}
          </b-radio>
      </b-field>
      <b-field>
          <b-radio v-model="form.radio2"
              native-value="④"
              type="is-warning">
              {{ data_list[3][3] }}
          </b-radio>
      </b-field>

        
        </br>
          <b-button @click="submit()">답안제출</b-button>
        </div>
      </div>
    </div>
  <script>
  
  const vueApp = new Vue({
    el: '#app',
    //axios 들어가기 form data post로 보내고, get으로 문제 출력하고, 영상 파일에 관련된거 입력하고
    //spring boot post json key-> answer, 문제, 
    data: { 
      form: {
        radio1: '',
        radio2: '',
        file: ''
      },
    },
    methods: {
      submit() {
        alert(1)
        alert(JSON.stringify(this.form))
        // alert(JSON.stringify(this.file))
        axios.post("http://localhost:8000/user/logout",  this.form, {
          headers: {
            "Content-Type": `application/json`,
            "Content-Type": `multipart/form-data`,
          }
        })  
        .then((res) => {
          alert("답안,영상,부정행위 시간 보내기 성공")
          console.log(res);
        })
        .catch(error => {
          alert("답안,영상,부정행위 시간 보내기 실패");
          console.log(error);
        });
      }
    }
})

  </script>
  </body>
  </html>